@model IEnumerable<BeHired.Models.JobPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_application_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_application_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })
        </td>
    </tr>
}

</table>
